{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static "home-style.css" %}">
    <title>Student Management</title>
</head>
<body>
        <header>
            <a href="{% url 'index' %}"><img src="{%static 'images/logo.png' %}" class="logo"></a>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'documentation' %}">Documentation</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </header>
</body>
</html>