{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static "home-style.css" %}">
</head>
<body>
<div>
    <header>
        <a href="{% url 'studenthome' %}"><img src="{%static "images/logo.png" %}" class="logo"></a>
        <ul>
            <li><a href="{% url 'studenthome' %}">Home</a></li>
            <li><a href="{% url 'markview' %}">Mark view</a></li>
            <li><a href="{% url 'sendfeedback' %}"> Send Feedback</a></li>
            <li><a href="{% url 'login' %}">Logout</a></li>
        </ul>
    </header>
</div>
</body>
</html>